.buttonRedirect {
  outline: none;

  color: #868e96;
  background-color: #e9ecef;

  width: 64px;
  height: 40px;

  border: 1.4px solid #e9ecef;
  border-radius: 8px;

  font-weight: 500;
  font-size: 14px;

  text-align: center;
}

.buttonRedirect:hover {
  background-color: #868e96;
  color: #e9ecef;
  cursor: pointer;
}

.buttonRedirect:focus {
  color: #ffffff;
  background-color: #fd377e;
  border: 1.4px solid #fd377e;

  filter: brightness(1);

  text-align: center;
}
