.inputValueBox {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.inputValueBox > label {
  color: #212529;

  font-weight: 600;
  font-size: 14px;
  line-height: 150%;

  width: 100%;

  height: 22px;
}

.inputValue {
  position: relative;
  width: 100%;
  max-width: 128px;
  height: 48px;

  display: flex;
  justify-content: space-between;
}

.inputValue > input {
  width: 100%;

  background-color: #f8f9fa;
  color: #868e96;

  border: 2px solid #f8f9fa;
  border-radius: 8px;

  padding: 0px 16px;

  outline: none;

  overflow-y: none;

  appearance: none;
}

.inputValue > input:focus {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
  animation: easeIn 2000ms ease-in-out backwards;
}

.inputValue > input::-webkit-inner-spin-button {
  appearance: none;
}

.inputValue > span {
  color: #868e96;
  align-self: center;
  position: absolute;
  right: 14px;
  top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@keyframes easeIn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
